@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vujahday+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body{
    font-size: 100%;
    /*background: rgb(0,0,75);
    background: linear-gradient(90deg, rgba(0,0,75,1) 0%, rgba(14,14,255,1) 100%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    */
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background-color: #232399;
}

.cabecalho-img-profile{
    display: flex; 
    height: 60px; 
    width: auto; 
    border-radius: 50%;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'sarala', sans-serif;
    color: aliceblue;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    margin-bottom: 48px;
    border-top: 0.1px solid black;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 32px;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #343a40;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #343a40;
}

.conteudo-principal-escrito-botao{
    background-color: rgb(240, 240, 255);
    width: 180px;
    height: 60px;
    border: none;  
    border-radius: 20px;
    font-family: 'sarala', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #343a40;
}

.conteudo-principal-escrito-botao:visited{
    background-color: rgb(240, 240, 255);
    width: 180px;
    height: 60px;
    border: none;  
    border-radius: 20px;
    font-family: 'sarala', sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #343a40;
}

#link-botao:visited {
    color: #343a40;
}

.conteudo-principal-escrito-botao:hover{
    background-color: rgba(227, 230, 255, 0.53);
    box-shadow: 4px 5px 4px rgba(0,0,0, 0.25);
}

.conteudo-principal-imagem{
    border-radius: 20%;
    width: 20%;
    max-width:100%;
}

.conteudo-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo{
    border-top: 0.1px solid black;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #343a40;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo{
    font-family: 'sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #343a40;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343a40;

    width: 100%;
    bottom: 0;
    padding: 18px;
    position: absolute;
    
}

.rodape-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 100;
    font-size: 24px;
    color: #fff;
}

.rodape-paragrafo{
    font-family: 'Shadows Into Light', cursive;
    font-size: 20px;
    color: #fff;
}

